/* Frame 140 */

@import url("https://fonts.googleapis.com/css2?family=Island Moments:wght@400&display=swap");

p {
  margin: 0;
}

.frame-140 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1440px;
  height: 1105px;
  box-sizing: border-box;
}
.group-357 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.frame-141 {
  width: 100%;
  height: 868px;
  background-color: rgba(9, 8, 8, 0.95);
}

.frame-104 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.frame-122 {
  height: 100%;
}

.frame-106 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 67px 234px 119px 62px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.well-come-to-the-boys-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 250%;
  font-family: Island Moments, handwriting;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.8px;
}
