@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.login-container {
  display: flex;
  width: 1440px;
  height: 880px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #00000099, transparent);
  font-family: 'Inter', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 10px;
  padding: 10px;
}

.input-label {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.input-field {
  width: 93% !important;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #f0f0f0;
}

.extra-links {
  margin-top: 20px;
  text-align: center;
}

.extra-links a {
  display: block;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
}

.extra-links a:hover {
  text-decoration: underline;
}